{% extends 'seller_base.html' %} {% block title %}Seller Signup{% endblock %} 
{% block content %}
<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 90vh"
>
  <div
    class="card shadow-lg p-4"
    style="width: 100%; max-width: 450px; border-radius: 15px"
  >
    <h3 class="text-center mb-4">Create Seller Account</h3>

    <form method="post" action="{% url 'seller-signup' %}">
      {% csrf_token %}

      <!-- Username -->
      <div class="mb-3">
        <label for="{{ form.username.id_for_label }}" class="form-label"
          >Username</label
        >
        <input
          type="text"
          name="{{ form.username.name }}"
          class="form-control"
          required
          value="{{ form.username.value}}"
        />
        <span class="text-danger">{{ form.username.errors }}</span>
      </div>
      <!-- First Name -->
      <div class="mb-3">
        <label for="{{ form.first_name.id_for_label }}" class="form-label"
          >First Name</label
        >
        <input
          type="text"
          name="{{ form.first_name.name }}"
          class="form-control"
          required
          value="{{ form.first_name.value}}"
        />
        <span class="text-danger">{{ form.first_name.errors }}</span>
      </div>
      <!-- Last Name -->
      <div class="mb-3">
        <label for="{{ form.last_name.id_for_label }}" class="form-label"
          >Last Name</label
        >
        <input
          type="text"
          name="{{ form.last_name.name }}"
          class="form-control"
          required
          value="{{ form.last_name.value}}"
        />
        <span class="text-danger">{{ form.last_name.errors }}</span>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label"
          >Email</label
        >
        <input
          type="email"
          name="{{ form.email.name }}"
          class="form-control"
          required
          value="{{ form.email.value}}"
        />
        <span class="text-danger">{{ form.email.errors }}</span>
      </div>

      <!-- std id -->
      <div class="mb-3">
        <label for="{{ form.std_id.id_for_label }}" class="form-label"
          >Student ID</label
        >
        <input
          type="text"
          name="{{ form.std_id.name }}"
          class="form-control"
          required
          value="{{ form.std_id.value}}"
        />
        <span class="text-danger">{{ form.std_id.errors }}</span>
      </div>
      <!-- Shop Name -->
      <div class="mb-3">
        <label for="{{ form.shop_name.id_for_label }}" class="form-label"
          >Shop Name</label
        >
        <input
          type="text"
          name="{{ form.shop_name.name }}"
          class="form-control"
          required
          value="{{ form.shop_name.value}}"
        />
        <span class="text-danger">{{ form.shop_name.errors }}</span>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label for="{{ form.password1.id_for_label }}" class="form-label"
          >Password</label
        >
        <input
          type="password"
          name="{{ form.password1.name }}"
          class="form-control"
          required
          value="{{ form.password1.value }}"
        />
        <span class="text-danger">{{ form.password1.errors }}</span>
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <label for="{{ form.password2.id_for_label }}" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          name="{{ form.password2.name }}"
          class="form-control"
          required
          value="{{ form.password2.value }}"
        />
        <span class="text-danger">{{ form.password2.errors }}</span>
      </div>

      <!-- Signup Button -->
      <button type="submit" class="btn btn-warning w-100">Sign Up</button>
    </form>

    <!-- Login Redirect -->
    <div class="text-center mt-3">
      <small>
        Already have an account?
        <a href="{% url 'seller-login' %}">Login</a>
      </small>
    </div>
  </div>
</div>
{% endblock %}