{% extends 'seller_base.html' %}
{% load static %}

{% block title %}Dashboard - EWU Campus Mart{% endblock %}

{% block content %}


<h2>My Products</h2>

<a href="{% url 'add-product' %}" class="btn btn-success mb-3">Add Product</a>

{% for product in products %}
<div class="card mb-3 p-3">
    <h4>{{ product.product_name }}</h4>
    <p>Price: ৳{{ product.price }}</p>

    {% if product.product_images.first %}
        <img src="{{ product.product_images.first.image.url }}" width="120">
    {% endif %}

    <a href="{% url 'delete-product' product.uid %}" class="btn btn-danger">
        Delete
    </a>
</div>
{% empty %}
<p>No products yet</p>
{% endfor %}


{% endblock %}